<div id="conf-promo">
  <a href="https://conf.vuejs.org">
    <img src="/images/conf.png" alt="vueconf">
    <p>Το πρώτο ευρωπαϊκό VueConf θα λάβει μέρος στο Wrocław της Πολωνίας, 21 με 23 Ιουνίου!</p>
  </a>
</div>
